* {
  margin: 0;
  padding: 0;
}

#header {
  padding: 12px 0;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  z-index: 10;
  position: sticky;
}

#content {
  height: 500px;
}

.container {
  width: 1000px;
  margin: auto;
}

#header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 150px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 20px;
}

.nav-left {
  display: flex;
  gap: 20px;
}

.nav-left a {
  text-decoration: none;
  color: black;
}

#login-btn {
  background-color: rgb(125, 64, 18);
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

